

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8ff;
    flex-direction: column;
}

h3{
    position: relative;
    text-align: center;
    font-size: 25px;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 5px;
}

#form{
    position: relative;
}

#form #email{
    width: 300px;
    background: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-style: 18px;
}

#form .inputBox{
    position: relative;

}

#text {
    display: block;
    color: #000;
    font-weight: 300;
    font-style: italic;
    padding: 5px;

}

#form.invalid .inputBox::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 6.3px;
    width: 24px;
    height: 24px;
    background: url(img/invalid.png);
    background-size: cover;
    z-index: 1000;

}

#form.valid .inputBox::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 6.3px;
    width: 24px;
    height: 24px;
    background: url(img/valid.png);
    background-size: cover;
    z-index: 1000;

}

.box{
    border: 10px inset #a40000;
    padding: 25px;
    background-color: #4a4848;
    

}